:root {
    --color-cocochat-primary: transparent;
    --page-background: #ffffff;
    --cocochat-max-z-index: 10000;
}

@keyframes toUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

[class^=coco_chat],
[class^=coco_chat] div,
[class^=coco_chat] p,
[class^=coco_chat] span,
[class^=coco_chat] svg,
[class^=coco_chat] input,
[class^=coco_chat] img {
    box-sizing: border-box;
}

[class^=coco_chat] p {
    padding: 0;
    margin: 0;
}

.coco_chat_wrapper {
    /*border: 1px solid lightgray;*/
    border: 0;
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--cocochat-max-z-index);
    animation-name: toUp;
    animation-duration: 200ms;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.coco_chat_button {
    height: 55px;
    width: 55px;
    background-color: var(--color-cocochat-primary);
    border-radius: 15px;
    cursor: pointer;
    transition: all 200ms;
    box-shadow: 0 5px 10px -6px var(--color-cocochat-primary);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        scale: 1.08;
    }

    &:active {
        scale: 1;
    }
}

.coco_chat_page {
    position: absolute;
    bottom: 22px;
    border-radius: 15px;
    transition: all 200ms;
    z-index: -1;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 400px;
    max-height: 95dvh;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-cocochat-primary);
    }
}

.coco_chat_page:not([open]) {
    opacity: 0;
    bottom: -660px;
}


.coco_chat_page:not([open]) .coco_chat_close_page {
    opacity: 0;
}

.coco_chat_page[open] {
    opacity: 1 !important;
    background-color: var(--page-background);
    border-radius: 20px;
    box-shadow: 0 0 50px -40px #616161;
    z-index: calc(var(--cocochat-max-z-index) + 1);
}

.coco_chat_wrapper:has(.coco_chat_page[open]) .coco_chat_button {
    opacity: 0;
}

.coco_chat_close_page {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: color-mix(in srgb, var(--color-cocochat-primary) 50%, rgba(0, 0, 0, 0.2));
    cursor: pointer;
    top: 10px;
    left: 10px;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coco_chat_close_page_icon path {
    stroke: #efefef;
}

.coco_chat_page_header {
    width: 100%;
    height: 80px;
    background-color: color-mix(in srgb, var(--color-cocochat-primary) 85%, transparent);
    border-radius: 20px 20px 0 0;
    display: flex;
    padding-inline: 15px;
    align-items: center;
    gap: 20px;

    & > div:nth-child(1) > img {
        height: 55px;
    }

    & > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        color: white;

        & > span {
            font-weight: bold;
            font-size: 17px;
        }

        & > p {
            font-size: 14px;
        }
    }
}

.coco_chat_page_content {
    flex: 1;
    overflow: auto;
}

.coco_chat_page_footer {
    min-height: 64px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 0 10px 10px;

    & > div {
        border: 1px solid var(--color-cocochat-primary);
        width: 100%;
        border-radius: 15px;
        display: flex;
        padding: 5px;
        justify-content: space-between;

        & > button {
            background-color: var(--color-cocochat-primary);
            border: none;
            border-radius: 15px;
            padding: 0 20px;
            cursor: pointer;
            height: 42px;

            & > svg {
                rotate: 180deg;
                width: 25px;
            }
        }

        & > input {
            border-radius: 15px;
            outline: none;
            border: none;
            font-size: 18px;
            padding: 0 5px 0 0;
            width: calc(100% - (65px + 10px));

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                color: #8a8a8a;
            }
        }
    }
}

.coco_chat_welcome {
    background-color: #efefef;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto;
}

@media screen and (max-width: 640px) {
    .coco_chat_page {
        max-height: none;
        height: 100dvh;
        width: 100vw;
        border-radius: 0 !important;
        right: 0 !important;
        bottom: 0;
    }

    .coco_chat_page_header {
        border-radius: 0 !important;
    }
}