:root {
    --color-cocochat-primary: transparent;
    --page-background: #ffffff;
    --cocochat-max-z-index: 10000;
}

@keyframes toUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

[class^=coco_chat],
[class^=coco_chat] div,
[class^=coco_chat] p,
[class^=coco_chat] span,
[class^=coco_chat] svg,
[class^=coco_chat] input,
[class^=coco_chat] img {
    box-sizing: border-box;
}

[class^=coco_chat] p {
    padding: 0;
    margin: 0;
}

.coco_chat_wrapper {
    /*border: 1px solid lightgray;*/
    border: 0;
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--cocochat-max-z-index);
    animation-name: toUp;
    animation-duration: 200ms;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.coco_chat_button {
    height: 55px;
    width: 55px;
    background-color: var(--color-cocochat-primary);
    border-radius: 15px;
    cursor: pointer;
    transition: all 200ms;
    box-shadow: 0 5px 10px -6px var(--color-cocochat-primary);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        scale: 1.08;
    }

    &:active {
        scale: 1;
    }
}

.coco_chat_page {
    position: absolute;
    bottom: 22px;
    border-radius: 15px;
    transition: all 200ms;
    z-index: -1;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 400px;
    max-height: 95dvh;
    overflow: hidden;
    background-color: white;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-cocochat-primary);
    }
}

.coco_chat_page:not([open]) {
    opacity: 0;
    bottom: -660px;
}


.coco_chat_page:not([open]) .coco_chat_close_page {
    opacity: 0;
}

.coco_chat_page[open] {
    opacity: 1 !important;
    background-color: var(--page-background);
    border-radius: 10px;
    box-shadow: 0 0 50px -40px #616161;
    z-index: calc(var(--cocochat-max-z-index) + 1);
}

.coco_chat_wrapper:has(.coco_chat_page[open]) .coco_chat_button {
    opacity: 0;
}

.coco_chat_close_page {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: color-mix(in srgb, var(--color-cocochat-primary) 50%, rgba(0, 0, 0, 0.2));
    cursor: pointer;
    top: 10px;
    left: 10px;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coco_chat_close_page_icon path {
    stroke: #efefef;
}

.coco_chat_page_header {
    width: 100%;
    height: 80px;
    background-color: color-mix(in srgb, var(--color-cocochat-primary) 85%, transparent);
    border-radius: 10px 10px 0 0;
    display: flex;
    padding-inline: 15px;
    align-items: center;
    gap: 20px;

    & > div:nth-child(1) > img {
        height: 55px;
    }

    & > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        color: white;

        & > span {
            font-weight: bold;
            font-size: 17px;
        }

        & > p {
            font-size: 14px;
        }
    }
}

.coco_chat_page_content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    /*padding: 15px 12px 0 7px;*/
    padding: 15px 12px 0;
}

.coco_chat_message_wrapper {
    margin-bottom: 6px;
    display: flex;

    & > div {
        padding: 10px;
        position: relative;
        font-size: 14px;
    }
}

.coco_chat_message_wrapper[agent="system"] {
    justify-content: end;

    & > div {
        border-radius: 10px 10px 10px 0;
        background-color: #c8c8c8;
        color: white;

        & > svg {
            position: absolute;
            bottom: -1px;
            left: -9px;
        }
    }
}

.coco_chat_message_wrapper[agent="user"] {
    justify-content: start;

    & > div {
        border-radius: 10px 10px 0;
        background-color: var(--color-cocochat-primary);
        color: white;

        & > svg {
            position: absolute;
            bottom: -1px;
            right: -9px;
            transform: rotateY(180deg);
        }
    }
}

.coco_chat_corner_fill {
    fill: var(--color-cocochat-primary);
}

.coco_chat_corner_fill2 {
    fill: #c8c8c8;
}

.coco_chat_page_footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    box-shadow: 0 26px 42px 0 #000000bf;
    overflow: hidden;
    padding-inline: 12px;
    padding-block: 8px;


    & > button {
        border: none;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4px;
        cursor: pointer;

        & > svg path {
            fill: #d5d5d5;
        }
    }

    & > textarea {
        flex: 1;
        outline: none;
        border: none;
        font-size: 14px;
        resize: none;
        overflow-y: auto;
        height: auto;
        min-height: 30px;
        max-height: 150px;
        line-height: 20px;
        padding-top: 5px;
        color: #676767;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: #8a8a8a;
        }

        &:valid + button svg path {
            fill: var(--color-cocochat-primary);
        }
    }
}

.coco_chat_welcome {
    background-color: #efefef;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto;
}

@media screen and (max-width: 640px) {
    .coco_chat_page {
        max-height: none;
        height: 100dvh;
        width: 100vw;
        border-radius: 0 !important;
        bottom: 0;
    }

    .coco_chat_page[position="bottom-right"] {
        right: 0 !important;
    }

    .coco_chat_page[position="bottom-left"] {
        left: 0 !important;
    }

    .coco_chat_page_header {
        border-radius: 0 !important;
    }
}