* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    font-family: Inter, sans-serif;
}